@charset "UTF-8";

/* Importação da Fonte */
@font-face{
    font-family: "TT Norms Pro";
    src: url("../font/TT-Norms-Pro-Light.otf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "TT Norms Pro";
}

body {
    height: 100vh;
    background: linear-gradient(-45deg, #a7353d, #0f3254, #bf062f, #003ca5);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

/* Animação do gradiente  */
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
 
    50% {
        background-position: 100% 50%;
    }
 
    100% {
        background-position: 0% 50%;
    }
}

form {
    border-radius: 20px;
    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

#faixa-header, form {
    background-color: rgb(255, 255, 255);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.411);
}

form label, button {
    font-size: 1.1em;
}

@media screen and (min-width: 600px) { 
    form {
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    form {
        width: 75%;
    }
}

@media screen and (min-width: 992px) {
    form {
        width: 38%;
    }
}

